<li>Hello
    <ul>
        <% @snapshot.files.each do |file| %>
            <li><a href="<%= url_for(file) %>"><%= file.blob.filename %></a></li>
        <% end %>
    </ul>
</li>

<%= react_component('Test', { fileURL: url_for(@snapshot.files.first) } ) %>
